.repo-container-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8f8ff;
  border-radius: 25px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.repo-container-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.image-style {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  align-self: center;
}
.text-container-repo {
  background-color: #f8f8ff;
  row-gap: 15px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}
.div-container {
  display: flex;
  align-self: flex-start;
  column-gap: 10px;
}

.image {
  width: 25px;
}

@media screen and (min-width: 768px) {
  .repo-container-item {
    width: 350px;
    padding: 30px;
  }

  .image-style {
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 767px) {
  .repo-container-item {
    width: 100%;
    padding: 20px;
  }

  .image-style {
    width: 100px;
    height: 100px;
  }
}

.heading-repo {
  color: #e73959;
}

